.ab{
    background-image: url(https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?cs=srgb&dl=pexels-tirachard-kumtanom-112571-733857.jpg&fm=jpg);
    background-repeat: no-repeat;
    height: 100vh;
    color:chartreuse;
}