.t1{font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
    border: 4px solid white;
    background-color: rgba(0,0,0, 0.2);

}
td, th{
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    color: white;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cartimg{
    width: 70px;
    height: 100px;
    border-radius: 10px;
}
tb{
    background-color: rgba(0,0,0, 0.5);
    color: aliceblue;
    width: 100px;
    height: 40px;
}