.ho{
    background-color:cornsilk;
    height: 100vh;
    color: aqua;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230415/pngtree-website-technology-line-dark-background-image_2344719.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}