.lo{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: aquamarine;
    height: 100vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmt_jQ__mY3Qzz1wY00htnATU0-fAMsULiqA&s);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bu{
    border: 3px solid black;
    width: 100px;
    border-radius: 10px;
}
.header{
    color:white;
    font-size: 60px;
    padding-top: 10px;

}
.ulal{
    border: 4px solid black;
    width: 70px;
    border-radius: 10px;
}
